<a href="https://colab.research.google.com/github/LaibaNaheed/All-in-One-Python-Practice-Notebook-Functions-String-File-handling-Nested-Loop/blob/main/All-in-One-Python-Practice-Notebook-Functions-String/File%20handling-Nested%20Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*LAB MANUALS*
* LAIBA NAHEED
* FA23-BSCS-346

LAB TASK 4:

PART 1 – WHILE LOOP PROGRAMS

In [3]:
print("=== PART 1: WHILE LOOP ===")

# 1. Print HelloWorld five times
i = 1
while i <= 5:
    print("HelloWorld")
    i += 1

# 2. Print 1–10
i = 1
while i <= 10:
    print(i)
    i += 1

# 3. Print 10–0
i = 10
while i >= 0:
    print(i)
    i -= 1

# 4. Print 1–15 positive numbers
i = 1
while i <= 15:
    print(i)
    i += 1

# 5. Print 1–15 negative numbers
i = -1
while i >= -15:
    print(i)
    i -= 1

# 6. Factorial of 9
num = 9
fact = 1
i = 1
while i <= num:
    fact *= i
    i += 1
print("Factorial of 9 =", fact)

# 7. Palindrome check
num = int(input("Enter a number: "))
temp = num
rev = 0
while num > 0:
    rev = rev*10 + num%10
    num //= 10
print("Palindrome?" , rev == temp)

# 8. Multiplication table of 12
i = 1
while i <= 10:
    print("12 x", i, "=", 12*i)
    i += 1

# 9. Sum of first 10 natural numbers
i = 1
s = 0
while i <= 10:
    s += i
    i += 1
print("Sum =", s)

# 10. Right-angled star triangle
i = 1
while i <= 5:
    print("*" * i)
    i += 1

=== PART 1: WHILE LOOP ===
HelloWorld
HelloWorld
HelloWorld
HelloWorld
HelloWorld
1
2
3
4
5
6
7
8
9
10
10
9
8
7
6
5
4
3
2
1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10
-11
-12
-13
-14
-15
Factorial of 9 = 362880
Enter a number: 2
Palindrome? True
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
Sum = 55
*
**
***
****
*****

PART 2 – FOR LOOP PROGRAMS

In [4]:
print("=== PART 2: FOR LOOP ===")

# 1. Print HelloWorld five times
for i in range(5):
    print("HelloWorld")

# 2. 1–10
for i in range(1, 11):
    print(i)

# 3. 10–0
for i in range(10, -1, -1):
    print(i)

# 4. 1–15 positive
for i in range(1, 16):
    print(i)

# 5. 1–15 negative
for i in range(-1, -16, -1):
    print(i)

# 6. Even/Odd numbers 1–100
for i in range(1, 101):
    if i % 2 == 0:
        print(i, "Even")
    else:
        print(i, "Odd")

# 7. Alphabets
import string
print(string.ascii_uppercase)
print(string.ascii_lowercase)

# 8. Factorial of 9
fact = 1
for i in range(1, 10):
    fact *= i
print("Factorial =", fact)

# 9. Palindrome
num = input("Enter number: ")
print("Palindrome?" , num == num[::-1])

# 10. Star triangle
for i in range(1, 6):
    print("*" * i)

# 11. Count vowels and consonants
text = input("Enter text: ")
vowels = "aeiouAEIOU"
v = c = 0
for ch in text:
    if ch.isalpha():
        if ch in vowels:
            v += 1
        else:
            c += 1
print("Vowels:", v, "Consonants:", c)

# 12. Table of 12
for i in range(1, 11):
    print("12 x", i, "=", 12*i)

# 13. Squares & Cubes
for i in range(1, 11):
    print(i, "Square:", i*i, "Cube:", i*i*i)

=== PART 2: FOR LOOP ===
HelloWorld
HelloWorld
HelloWorld
HelloWorld
HelloWorld
1
2
3
4
5
6
7
8
9
10
10
9
8
7
6
5
4
3
2
1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10
-11
-12
-13
-14
-15
1 Odd
2 Even
3 Odd
4 Even
5 Odd
6 Even
7 Odd
8 Even
9 Odd
10 Even
11 Odd
12 Even
13 Odd
14 Even
15 Odd
16 Even
17 Odd
18 Even
19 Odd
20 Even
21 Odd
22 Even
23 Odd
24 Even
25 Odd
26 Even
27 Odd
28 Even
29 Odd
30 Even
31 Odd
32 Even
33 Odd
34 Even
35 Odd
36 Even
37 Odd
38 Even
39 Odd
40 Even
41 Odd
42 Even
43 Odd
44 Even
45 Odd
46 Even
47 Odd
48 Even
49 Odd
50 Even
51 Odd
52 Even
53 Odd
54 Even
55 Odd
56 Even
57 Odd
58 Even
59 Odd
60 Even
61 Odd
62 Even
63 Odd
64 Even
65 Odd
66 Even
67 Odd
68 Even
69 Odd
70 Even
71 Odd
72 Even
73 Odd
74 Even
75 Odd
76 Even
77 Odd
78 Even
79 Odd
80 Even
81 Odd
82 Even
83 Odd
84 Even
85 Odd
86 Even
87 Odd
88 Even
89 Odd
90 Even
91 Odd
92 Even
93 Odd
94 Even
95 Odd
96 Even
97 Odd
98 Even
99 Odd
100 Even
ABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyz
Factorial = 362880
Enter number: 78
Palindrome? False
*
**
***
****
*****
Enter text: Laiba
Vowels: 3 Consonants: 2
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
1 Square: 1 Cube: 1
2 Square: 4 Cube: 8
3 Square: 9 Cube: 27
4 Square: 16 Cube: 64
5 Square: 25 Cube: 125
6 Square: 36 Cube: 216
7 Square: 49 Cube: 343
8 Square: 64 Cube: 512
9 Square: 81 Cube: 729
10 Square: 100 Cube: 1000

PART 3 – NESTED LOOPS

In [5]:
print("=== PART 3: Nested Loops ===")

# 1. Even list 1–10
even_nums = [i for i in range(1, 11) if i % 2 == 0]
print("Even numbers:", even_nums)

# 2. Pyramid
for i in range(1, 6):
    print(" "*(5-i) + "*"*(2*i-1))

# 3. First 20 primes
primes = []
num = 2
while len(primes) < 20:
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        primes.append(num)
    num += 1
print("First 20 primes:", primes)

=== PART 3: Nested Loops ===
Even numbers: [2, 4, 6, 8, 10]
    *
   ***
  *****
 *******
*********
First 20 primes: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71]

PART 4 – BREAK / CONTINUE / PASS

In [6]:
print("=== PART 4: Loop Control ===")

# 1. First even number using break
nums = [1, 3, 5, 6, 7]
for n in nums:
    if n % 2 == 0:
        print("First even =", n)
        break

# 2. Print only odd numbers except when number = 7
nums = [1, 2, 3, 7, 9, 11]
for n in nums:
    if n == 7:
        continue
    if n % 2 != 0:
        print(n)

# 3. 1–20 even numbers skip if 5
for i in range(1, 21):
    if i == 5:
        continue
    if i % 2 == 0:
        print(i)

# 4. Odd numbers 1–20 using break
lst = []
for i in range(1, 21):
    if i % 2 != 0:
        lst.append(i)
print(lst)

=== PART 4: Loop Control ===
First even = 6
1
3
9
11
2
4
6
8
10
12
14
16
18
20
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

PART 5 – FUNCTIONS

In [7]:
print("=== PART 5: Functions ===")

# 1. Welcome message
def welcome():
    print("Welcome!")

welcome()

# 2. Add two numbers
def add(a, b):
    return a + b

print(add(5, 7))

# 3. Even or odd
def check(n):
    return "Even" if n%2==0 else "Odd"

print(check(7))

# 4. Factorial (recursive)
def fact(n):
    if n == 1:
        return 1
    return n * fact(n-1)

print(fact(5))

# 5. Area of circle
def area(r=5):
    return 3.14*r*r

print(area())

# 6. Prime check
def isPrime(n):
    if n<2: return False
    for i in range(2,n):
        if n%i==0:
            return False
    return True

print(isPrime(11))

# 7. Max of 3
def max3(a,b,c):
    return max(a,b,c)

print(max3(3,9,2))

# 8. Simple interest
def SI(p,r,t):
    return (p*r*t)/100

print(SI(1000,5,2))

# 9. Fibonacci 10 terms
def fib(n):
    a,b = 0,1
    for _ in range(n):
        print(a,end=" ")
        a,b = b,a+b
print(); fib(10)

# 10. Reverse a string
def rev(s):
    return s[::-1]

print(rev("Python"))

# 11. Palindrome check
def pal(s):
    return s == s[::-1]

print(pal("level"))

# 12. Count vowels
def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(ch in vowels for ch in s)

print(count_vowels("HELLO"))

# 13. Length of list without len()
def mylen(lst):
    c = 0
    for _ in lst:
        c += 1
    return c

print(mylen([1,2,3]))

# 14. Sum of digits
def sum_digits(n):
    s = 0
    while n>0:
        s += n%10
        n//=10
    return s

print(sum_digits(12345))

# 15. Sort list
def sort_list(lst):
    return sorted(lst)

print(sort_list([4,2,7,1]))

# 16. Print string multiple times
def repeat(s,n):
    for _ in range(n):
        print(s)

repeat("AI", 3)

=== PART 5: Functions ===
Welcome!
12
Odd
120
78.5
True
9
100.0

0 1 1 2 3 5 8 13 21 34 nohtyP
True
2
3
15
[1, 2, 4, 7]
AI
AI
AI

PART 7 – STRING HANDLING

In [8]:
print("=== PART 7: Strings ===")

s = "I am Python Programmer"

print(len(s))
copy = s[:]
print(copy)
print(s + "!!!")
print("Compare:", s == copy)
print(s.upper(), s.lower())
print("PROGRMMER"[::-1])
print("Word count:", len(s.split()))
print("Duplicates in ALIZA:", {ch for ch in "ALIZA" if "ALIZA".count(ch) > 1})

=== PART 7: Strings ===
22
I am Python Programmer
I am Python Programmer!!!
Compare: True
I AM PYTHON PROGRAMMER i am python programmer
REMMRGORP
Word count: 4
Duplicates in ALIZA: {'A'}

PART 8 – Number Pattern (AI / Lab / AILab)

In [9]:
for i in range(1,101):
    if i%15==0:
        print("AILab")
    elif i%3==0:
        print("AI")
    elif i%5==0:
        print("Lab")
    else:
        print(i)

1
2
AI
4
Lab
AI
7
8
AI
Lab
11
AI
13
14
AILab
16
17
AI
19
Lab
AI
22
23
AI
Lab
26
AI
28
29
AILab
31
32
AI
34
Lab
AI
37
38
AI
Lab
41
AI
43
44
AILab
46
47
AI
49
Lab
AI
52
53
AI
Lab
56
AI
58
59
AILab
61
62
AI
64
Lab
AI
67
68
AI
Lab
71
AI
73
74
AILab
76
77
AI
79
Lab
AI
82
83
AI
Lab
86
AI
88
89
AILab
91
92
AI
94
Lab
AI
97
98
AI
Lab

PART 9 – Text Analysis

In [10]:
def analyze_text(s):
    upper = sum(ch.isupper() for ch in s)
    lower = sum(ch.islower() for ch in s)
    digit = sum(ch.isdigit() for ch in s)
    return {"uppercase": upper, "lowercase": lower, "digits": digit}

print(analyze_text("AI Lab 123"))

{'uppercase': 3, 'lowercase': 2, 'digits': 3}

PART 10 – Reverse Words in a Sentence

In [11]:
sentence = "Artificial Intelligence Lab"
print(" ".join(sentence.split()[::-1]))

Lab Intelligence Artificial

FILE HANDLING SECTION

Q1 – Write & Read Cities

In [13]:
cities = []
for i in range(5):
    city = input("Enter city: ")
    cities.append(city + "\n")

# Write to file
with open("mycities.txt", "w") as f:
    f.writelines(cities)

# Read and display in reverse
with open("mycities.txt", "r") as f:
    data = f.readlines()

print("Cities in reverse:")
for c in reversed(data):
    print(c.strip())

Enter city: Lahore
Enter city: Karachi
Enter city: Fasilabad
Enter city: Islamabad
Enter city: Jelium
Cities in reverse:
Jelium
Islamabad
Fasilabad
Karachi
Lahore

Q2 – Student Marks Dictionary

In [14]:
# Write data
with open("marks.txt", "w") as f:
    for i in range(3):
        name = input("Enter name: ")
        marks = input("Enter marks: ")
        f.write(f"{name}:{marks}\n")

# Read back into dictionary
students = {}

with open("marks.txt") as f:
    for line in f:
        name, marks = line.split(":")
        students[name] = int(marks)

# Highest marks
topper = max(students, key=students.get)
print("Topper:", topper, students[topper])

# Average
avg = sum(students.values())/len(students)
print("Average:", avg)

Enter name: Laiba
Enter marks: 99
Enter name: Yaseen
Enter marks: 100
Enter name: Shayan
Enter marks: 85
Topper: Yaseen 100
Average: 94.66666666666667

Q3 – Append Two Cities

In [15]:
with open("Cities.txt", "a") as f:
    for i in range(2):
        c = input("Enter city to append: ")
        f.write(c + "\n")

with open("Cities.txt") as f:
    print(f.read())

Enter city to append: Lahore
Enter city to append: Karachi
Lahore
Karachi

Q4 – Count Lines, Words, Characters

In [18]:
with open("sample.txt", "w") as f:
    f.write("Hello world.\nThis is sample text file.\nPython is fun.")

with open("sample.txt") as f:
    lines = f.readlines()

line_count = len(lines)
word_count = sum(len(line.split()) for line in lines)
char_count = sum(len(line) for line in lines)

print("Lines:", line_count)
print("Words:", word_count)
print("Characters:", char_count)

Lines: 3
Words: 10
Characters: 53

Q5 – Dictionary File Search

In [20]:
with open("Scores.txt", "w") as f:
    f.write("Ali:85\nSara:92\nAhmed:78\n")

# Read dictionary
data = {}
with open("Scores.txt") as f:
    for line in f:
        name, score = line.strip().split(":")
        data[name.lower()] = score

# Search
name = input("Enter student name: ").lower()

if name in data:
    print("Score:", data[name])
else:
    print("Record not found")

Enter student name: Laiba
Record not found

THANK YOU!